<div class="card">
    <!--div class="container"-->
        <form action="">
            <div class="row">
                <div class="col-4">
                    <label for="tipo">
                        Tipo
                    </label>
                </div>
                <div class="col-4">
                    <input type="text" class="text" value="Agrotóxico" disabled>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="tipo">
                        Produto
                    </label>
                </div>
                <div class="col-4">
                    <input type="text" class="text" value="Pacote Máquina 1" disabled>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="tipo">
                        Quantidade
                    </label>
                </div>
                <div class="col-4">
                    <input type="number" class="text" value="6" disabled>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="tipo">
                        Preço
                    </label>
                </div>
                <div class="col-4">
                    <input type="text" class="text" value="Médio" disabled>
                </div>
            </div>
        </form>
    <!--/div-->
</div>