<div class="form parcel__form mt-3">
    <div class="d-flex-mb-2">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td class="pt-3">
                            <span>Parcela 1</span>
                            <div class="form-check pl-3">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Pedir selo verde</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group d-flex flex-column">
                                <label for="seed" class="mb-0 mr-2">Semente</label>
                                <select class="form-control form-control-sm" id="seed">
                                    <option>Nenhuma</option>
                                    <option>Semente 1</option>
                                    <option>Semente 2</option>
                                </select>
                            </div>
                            <div class="form-group d-flex flex-column">
                                <label for="seed" class="mb-0 mr-2">Fertilizante</label>
                                <select class="form-control form-control-sm" id="seed">
                                    <option>Nenhum</option>
                                    <option>Fertilizante 1</option>
                                    <option>Fertilizante 2</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group d-flex flex-column">
                                <label for="seed" class="mb-0 mr-2">Agrotóxico</label>
                                <select class="form-control form-control-sm" id="seed">
                                    <option>Nenhum</option>
                                    <option>Agrotóxico 1</option>
                                    <option>Agrotóxico 2</option>
                                </select>
                            </div>
                            <div class="form-group d-flex flex-column">
                                <label for="seed" class="mb-0 mr-2">Máquina</label>
                                <select class="form-control form-control-sm" id="seed">
                                    <option>Nenhuma</option>
                                    <option>Máquina 1</option>
                                    <option>Máquina 2</option>
                                </select>
                            </div>
                            <div class="form-check pl-4">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Pulverizador</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button type="submit" class="btn btn--primary mt-4 mb-3">Terminar jogada</button>
</div>