<div class="tableValues pt-3">
    <div class="pb-3">
        <h3>Fertilizantes</h3>
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th scope="col">Valores</th>
                        <th scope="col">Fertilizante 1</th>
                        <th scope="col">Fertilizante 2</th>
                        <th scope="col">Fertilizante 3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="role === 'entrepreneur'">
                        <th scope="row" class="type">Baixo</th>
                        <td>D$80,000</td>
                        <td>D$85,00</td>
                        <td>D$90,00</td>
                    </tr>
                    <tr>
                        <th scope="row" class="type">Médio</th>
                        <td>D$80,000</td>
                        <td>D$85,00</td>
                        <td>D$90,00</td>
                    </tr>
                    <tr *ngIf="role as entrepreneur">
                        <th scope="row" class="type">Alto</th>
                        <td>D$80,000</td>
                        <td>D$85,00</td>
                        <td>D$90,00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>