<div class="history-list">
    <h3>Venda 1</h3>
    <div class="row align-items-center">
        <div class="col-md-3 mb-2">
            <div class="history-list-info">Solicitante: Agricultor 1</div>
        </div>
        <div class="col-md-3 mb-2">
            <div class="history-list-info">Produto solicitado: Fertilizante 1</div>
        </div>
        <div class="col-md-3 mb-2">
            <div class="history-list-info">Quantidade: 2</div>
        </div>
        <div class="col-md-3 mb-2">
            <div class="history-list-info">Preço: R$85,00</div>
        </div>
    </div>
    <hr>
</div>