<!--p class="text-center text-muted" *ngIf="!orcamentos.length"> 
    Sem orçamentos. Faça um pedido a um Empresário.
</p-->

<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-6" *ngFor="let orcamento of orcamentos">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Orçamento de {{ orcamento.idEmp }}</h5>
                    <p class="card-text">Produto: {{ orcamento.idProduto }}</p>
                    <p class="card-text">Quantidade: {{ orcamento.quantidade }}</p>
                    <p class="card-text">Preco: {{ orcamento.preco }}</p>
                    <a class="btn btn-primary" href="#" >Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="card" *ngFor="let orcamento of orcamentos">
    <form [formGroup]="comprasForm" action="">
        <div class="row">
            <div class="input-group-prepend">
                <label class="input-group-text" for="idEmp">Vendedor</label>
            </div>
            <input #idEmp
                type="text"
                formControlName="idEmp"
                class="form-control"
                id="idEmp"
                value="{{ orcamento.idEmp }}"
            >
        </div>
        <div class="row">
            <div class="input-group-prepend">
                <label class="input-group-text" for="idProduto">
                    Produto
                </label>
            </div>
            <input #idProduto
                type="text"
                formControlName="idProduto"
                class="form-control"
                id="idProduto"
                value="orcamento.idProduto"
            >
        </div>
        <div class="row">
            <div class="input-group-prepend">
                <label class="input-group-text" for="quantidade">
                    Quantidade
                </label>
            </div>
            <input #quantidade
                type="text"
                formControlName="quantidade"
                class="form-control"
                id="quantidade"
                value="orcamento.quantidade"
            >
        </div>
        <div class="row">
            <div class="input-group-prepend">
                <label class="input-group-text" for="preco">
                    Preço
                </label>
            </div>
            <input #preco
                type="text"
                formControlName="preco"
                class="form-control"
                id="preco"
                value="orcamento.preco"
            >
        </div>
        <div class="row">
            <div class="input-group-prepend">
                <button type="submit" class="btn btn-success">Comprar</button>
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-warning">Cancelar</button>
            </div>
        </div>
    </form>
</div> -->

<!--form *ngIf="comprasForm" [formGroup]="comprasForm" >
    <ol  formArrayName="compras" class="list-unstyled">
        <li *ngFor="let orcamento of comprasForm.get('orcamentos')['controls']; let $index=index"
            [formGroupName]="$index"
            class="row no-gutters p-0"
        >
            <div class="card">
                <div class="row">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="idEmp">Vendedor</label>
                    </div>
                    <input #idEmp
                        type="text"
                        formControlName="idEmp"
                        class="form-control"
                        id="idEmp"
                        value="orcamento.idEmp"
                    >
                </div>
                <div class="row">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="idProduto">
                            Produto
                        </label>
                    </div>
                    <input #idProduto
                        type="text"
                        formControlName="idProduto"
                        class="form-control"
                        id="idProduto"
                        value="orcamento.idProduto"
                    >
                </div>
                <div class="row">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="quantidade">
                            Quantidade
                        </label>
                    </div>
                    <input #quantidade
                        type="text"
                        formControlName="quantidade"
                        class="form-control"
                        id="quantidade"
                        value="orcamento.quantidade"
                    >
                </div>
                <div class="row">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="preco">
                            Preço
                        </label>
                    </div>
                    <input #preco
                        type="text"
                        formControlName="preco"
                        class="form-control"
                        id="preco"
                        value="orcamento.preco"
                    >
                </div>
                <div class="row">
                    <div class="input-group-prepend">
                        <button type="submit" class="btn btn-success">Comprar</button>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-warning">Cancelar</button>
                    </div>
                </div>
            </div>
        </li>
    </ol>
</form>

    
        
            
                <!--table class="table table-sm table-bordered">
                        <thead>
                          <tr class="text-center">
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody formArrayName="compras">
                          <tr *ngFor="let item of comprasForm.controls.compras.controls; let $index=index" [formGroupName]="$index">
                            <td style="min-width: 120px">
                                  <input type="text" class="form-control" formControlName="address"/>
                                  <div class="text-danger" *ngIf="usersForm.controls['users'].controls[$index].controls['address'].touched
                                     && usersForm.controls['users'].controls[$index].controls['address'].hasError('required')">
                                    Please enter address!
                                  </div>
                            </td>
            
                            <td style="min-width: 120px">
                                  <input class="form-control" type="text" formControlName="address"/>
                                  <div class="text-danger" *ngIf="usersForm.controls['users'].controls[$index].controls['phone'].touched
                                     && usersForm.controls['users'].controls[$index].controls['phone'].hasError('required')">
                                    Please enter phone number!
                                  </div>
                            </td>
            
                            <td style="width: 100px">
                              <button (click)="addUserRow()" class="btn btn-success btn-sm mr-1" type="button"><i class="fa fa-plus"></i></button>
                              <button (click)="removeUserRow($index)" class="btn btn-danger btn-sm" type="button"><i class="fa fa-times"></i></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
            
<!--div class="card" *ngIf="(orcamento$ | async) as orcamento">
    <!--div class="container">
        <form [formGroup]="compraForm" (action)="comprar()">
            <div class="row">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="idEmp">Vendedor</label>
                </div>
                <input #idEmp
                    type="text"
                    formControlName="idEmp"
                    class="custom-select"
                    id="idEmp"
                    value="orcamento.idEmp"
                >
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="tipo">
                        Produto
                    </label>
                </div>
                <div class="col-4">
                    <input type="text" class="text" value="Pacote Máquina 1" disabled>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="tipo">
                        Quantidade
                    </label>
                </div>
                <div class="col-4">
                    <input type="number" class="text" value="6" disabled>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="tipo">
                        Preço
                    </label>
                </div>
                <div class="col-4">
                    <input type="text" class="text" value="Médio" disabled>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <button type="submit" class="btn btn-success">Comprar</button>
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-warning">Cancelar</button>
                </div>
            </div>
        </form>
    <!--/div>
</div-->