<div class="mt-3">
    <div class="order-product">
        <form [formGroup]="orcamentoForm" (submit)="adicionarOrcamento()" class="pt-2">
            <h3>Fazer Orçamento</h3>
            <div class="container row align-items-sm-center mb-sm-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="idAgr">Solicitante</label>
                    </div>
                    <select #idAgr
                        formControlName="idAgr"
                        class="custom-select"
                        id="idAgr"
                    >
                        <option selected>Choose...</option>
                        <option value="5">AgrAT1</option>
                        <option value="6">AgrCD1</option>
                        <option value="7">AgrAT2</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="nomeProduto">Produto</label>
                    </div>
                    <select #nomeProduto
                        formControlName="nomeProduto"
                        class="custom-select"
                        id="nomeProduto"
                    >
                        <option selected>Choose...</option>
                        <option value="Hortaliça">Hortaliça</option>
                        <option value="Arroz">Arroz</option>
                        <option value="Soja">Soja</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="quantidade">Quantidade</label>
                    </div>
                    <input #quantidade
                        formControlName="quantidade"
                        type="number"
                        aria-label="quantidade"
                        class="form-control"
                    >
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="preco">Preço</label>
                    </div>
                    <select #preco
                        formControlName="preco"
                        class="custom-select"
                        id="preco"
                    >
                        <option selected>Choose...</option>
                        <option value="Baixo">Baixo</option>
                        <option value="Médio">Médio</option>
                        <option value="Alto">Alto</option>
                    </select>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="reset" class="btn btn--terciary m-0 mr-2">Cancelar</button>
                <button type="submit" class="btn btn--primary m-0">Confirmar</button>
            </div>
        </form>
        <hr>
    </div>
</div>