@import "../../../styles.scss";
.tableValues {
    h3 {
        font-size: 18px;
        font-weight: 600;
    }
    .table {
        font-size: 14px;
        .type {
            color: rgba($color: #000000, $alpha: 0.5);
        }
    }
}