<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-6" *ngFor="let sugestion of sugestions">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="isTaxSugestion(sugestion); else acaoAmbiental">
                        <h4 class="card-text">Taxa de imposto tipo {{ sugestion.imposto.tipo + 1 }}</h4>
                        <p class="card-text">Mudar para: <b>{{ sugestion.imposto.taxa }}</b></p>
                    </div>
                    <ng-template #acaoAmbiental>
                        <h4 class="card-text">Aplicar Ação Ambiental</h4>
                        <p class="card-text">Tipo: <b>{{ sugestion.acaoAmbiental }}</b></p>
                    </ng-template>
                    <a class="btn btn-warning" (click)="sendResponse(sugestion, false)" >Negar</a>
                    <a class="btn btn-success" (click)="sendResponse(sugestion, true)" >Aceitar</a>
                </div>
            </div>
        </div>
    </div>
</div>