<div class="content pt-5 pb-5">
    <div class="container main__block pt-2 pb-3 pl-3 pr-3">
        <app-header></app-header>
        <hr>
        <div class="row">
            <div class="col-md-8 col-xl-7">
                <app-parcel></app-parcel>
            </div>
            <div class="col-md-4 col-xl-5">
                <app-transfer></app-transfer>
                <button type="submit" class="btn btn--primary mt-4 mb-3">Terminar jogada</button>
            </div>
        </div>
    </div>
</div>