html {
    height: 100%;
}

body,
h2 {
    font-family: $text-font;
    color: $main-color;
}

h2 {
    font-weight: 800;
}

.main__block {
    border-radius: 30px;
    -webkit-box-shadow: -1px 5px 40px 5px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: -1px 5px 40px 5px rgba(0, 0, 0, 0.31);
    box-shadow: -1px 5px 40px 5px rgba(0, 0, 0, 0.31);
    background-color: #fff;
}