html {
    height: 100%;
}

.body,
h2 {
    font-family: $text-font;
    color: $main-color;
}

.body {
    background-image: url('/assets/imgs/background-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    font-weight: 800;
}

.main__block {
    border-radius: 30px;
    -webkit-box-shadow: -1px 5px 40px 5px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: -1px 5px 40px 5px rgba(0, 0, 0, 0.31);
    box-shadow: -1px 5px 40px 5px rgba(0, 0, 0, 0.31);
    background-color: #fff;
}

.btn--primary {
    border: 2px solid $btn-color;
    font-weight: 500;
    color: $btn-color;
    margin: 0 auto;
    display: block;
    &:hover {
        background-color: $btn-color;
        color: #fff;
    }
}