<div class="mt-3">
    <div class="product-ordered">
        <form action="" class="pt-2">
            <h3>Produto solicitado</h3>
            <div class="row align-items-sm-center mb-sm-3">
                <div class="col-sm-6 col-xl-4 d-flex flex-column">
                    <label for="solicitante">Solicitante</label>
                    <input type="text" class="form-control" id="solicitante" placeholder="Agricultor" disabled>
                </div>
                <div class="col-sm-6 col-xl-3 d-flex flex-column">
                    <label for="solicitado">Produto solicitado</label>
                    <input type="text" class="form-control" id="solicitado" placeholder="Fertilizante 1" disabled>
                </div>
                <div class="col-sm-6 col-xl-2 d-flex flex-column">
                    <label for="solicitado">Quantidade</label>
                    <input type="text" class="form-control" id="solicitado" placeholder="2" disabled>
                </div>
                <div class="col-sm-6 col-xl-3 d-flex flex-column">
                    <label for="solicitado">Preço</label>
                    <input type="text" class="form-control" id="solicitado" placeholder="R$85,00" disabled>
                </div>
            </div>
            <button type="submit" class="btn btn--primary mt-2 float-right">Confirmar venda</button>
        </form>
        <hr>
    </div>
</div>