<div class="history content pt-5 pb-5">
    <div class="container main__block pt-2 pb-3 pl-3 pr-3">
        <div class="mb-3">
            <h2 class="text-center pt-2 pb-3">Histórico [nome jogador] </h2>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="title">
                            Rodada 1
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-history-list></app-history-list>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>