<div class="history-list">
    <h3>Parcela 1</h3>
    <div class="row align-items-center">
        <div class="col-md-3 mb-3">
            <div class="history-list-info">Semente: Semente 1</div>
            <div class="history-list-info">Preço: R$85,00</div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="history-list-info">Fertilizante: Fertilizante 1</div>
            <div class="history-list-info">Preço: R$85,00</div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="history-list-info">Agrotóxico: Agrotóxico 1</div>
            <div class="history-list-info">Preço: R$85,00</div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="history-list-info">Máquina: Máquina 1</div>
            <div class="history-list-info">Preço: R$85,00</div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="history-list-info">Pulverizador: sim</div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="history-list-info">Pediu selo verde: sim</div>
        </div>
    </div>
    <hr>
</div>